body {
    /* font-family: "Azeret Mono", monospace; */
    font-family: "inter";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn-primary {
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    cursor: pointer;
}
/* ==================  banner part start  ==========================*/
.banner-container {
    height: 652px;
    margin-top: 40px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image {
    text-align: center;
    height: 240px;
    margin-bottom: 32px;
}
.banner-contain {
    width: 998px;
    height: 582px;
    margin: 0 auto;
}
.banner-header {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.banner-text {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    width: 852px;
    height: 52px;
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
}
/* ==================  banner part end  ==========================*/
/* ==================  why web dev start  ==========================*/
.why-web-dev-container {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 154px;
    margin-bottom: 88px;
}
.why-web-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.why-web-text {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 96px;
}
.why-flex-1 {
    margin-left: 48px;
    display: flex;
    gap: 30px;
}
.why-flex-1-left {
    width: 65%;
}
.why-flex-1-left h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    width: 390px;
    height: 72px;
}
.why-flex-1-left p {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    width: 468px;
    height: 52px;
}
.why-flex-2 {
    margin-left: 48px;
    display: flex;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.why-flex-2 h1 {
    width: 477px;
    height: 72px;
}
.why-flex-2 p {
    width: 468px;
    height: 52px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.why-flex-2-right {
    margin-left: 50px;
}
.why-flex-2-right h1 {
    width: 477px;
    height: 72px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}
.why-flex-2-right p {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    width: 468px;
    height: 52px;
}
/* ==================  why web dev end  ==========================*/

